$main_font: "montserrat", sans-serif;
$secondary_font: "Gilroy", cursive;

@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic");

@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai");

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf");
  src: url("../fonts/Gilroy-ExtraBold.otf");
}

$blue_gray: #253746;
$blaze_orange: #f56700;

$primary_clr: $blue_gray;
$secondary_clr: $blaze_orange;

$show-image: true;
$home-image: url(../images/bg.jpg);
$background-opacity: 0.3;
